#sesion1 {
    width: 100%;
    height: 100vh;
    background-color: $colorPrincipal;
}

#sesion2 {
    @extend %sesion;
}

#sesion2 img {
    @extend %sesion-img;
}

#sesion2 img:hover {
    transform: rotate(-6deg);
}

#sesion3 {
    @extend %sesion;
}

#sesion3 img {
    @extend %sesion-img;
}

#sesion3 img:hover {
    transform: rotate(-6deg);
}


.textoPrincipal {
    display: flex;
    font-size: 1vh;
    justify-content: center;
    margin-top: 10%;
    color: black;
}

.textoSecundario {
    display: flex;
    font-size: 30px;
    margin-top: 1vh;
    margin-bottom: 0vh;
    justify-content: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#usuarios {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;

}

#formulario {
    display: block;
    height: 30vh;
}

.form--text {
    display: block;
    margin-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.form--input {
    width: 200px;
    height: 30px;
}

.form--submit {
    display: inline;
    width: 80px;
    height: 30px;

}

.iniciarSesion {
    display: inline;
    width: 80px;
    height: 30px;
}

#confirm-sesion {
    display: block;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 1vh;
}

#ingresarALaPagina {
    display: block;
    background-color: black;
    color: white;
    font-family: 'anton';
    margin-top: 2vh;
    border-radius: 10px;
}

#ingresarALaPagina:hover {
    transform: scale(1.02);

}

#crearUsuario {
    display: block;
    width: 94px;
    height: 30px;
    font-family: 'anton';
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 6vh;
}

#crearUsuario:hover {
    transform: scale(1.02);
}

.crearUsuario {
    display: flex;
    justify-content: center;
}

.crearUsuario h2 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 7vh;
    margin-right: 1vw;
}

//srkmgrlg
#formularioSesion {
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: center;
    align-items: center;
    color: $colorPrincipal;
    font-family: Arial, Helvetica, sans-serif;
}

#volverIniciarSesion {
    display: block;
    background-color: $colorPrincipal;
    color: $colorSecundario;
    font-family: 'anton';
    width: 94px;
    height: 30px;
    border-radius: 10px;
    margin-left: 5vw
}

#crearCuenta { 
    display: block;
    background-color: black;
    color: white;
    width: 94px;
    height: 30px;
    font-family: 'anton';
    margin-top: 1.5vh;
    border-radius: 10px;
}
// #confirm-sesion{
    
// }

.iniciarSesion {
    display: block;
    justify-content: center;
    padding-top: 7vh;
    padding-left: 7vw;
    width: 100%
}
.iniciarSesion h2{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 7vh;
}

.form--text2 {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.form--input2 {
    width: 200px;
    height: 20px;
}

.form--submit2 {
    display: inline;
    width: 80px;
    height: 30px;
}
